:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    background-color: black;
    box-sizing: border-box;

    --color-selected : whitesmoke;
    --color-inactive: #4b4949;
    --font-sidebar : 20px;
    --icon-padding-sidebar : 5px 15px 5px 0px;
    --underline : 1px solid  #4b4949;
    --playbar :  rgb(29, 28, 28);
    --card-set1: rgba(29, 28, 28, 0.3);
}

html {
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
/*      outline: 1px solid red; 
 */  

}

body {
    height: 100%;
    margin:0;
    background-image: radial-gradient();

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 8px 8px 8px 8px;
}


a:hover {
    opacity: 0.7;
    
}



 :link , :visited , :active {
    color: whitesmoke;
    text-decoration: none;
}


.blob {
    position: absolute;
    top: 0;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right , green, white);
    filter: blur(100px);
    opacity: 0.4;
    height: 500px;
    width: 100%;
    transform: translate(0,-50%);
    z-index: -999;
}


.cover {
    position: absolute;
    top: 0;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right , black, black);
    filter: blur(100px);
    opacity: 1;
    height: 500px;
    width: 100%;
    transform: translate(0,-50%);
    z-index: -999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}






.main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3em;
    row-gap: 5.4em;
}

.sidebar {
    max-width: 300px;
    padding: 0 0 0 5px;
}

.sidebar i {
    padding: var(--icon-padding-sidebar);
}



.link-container-1 {
    font-size: var(--font-sidebar);
    padding-bottom: 10px;
    border-bottom: var(--underline);
}



.link-container-1 > li:nth-child(5) {
    margin-top: 16px;
}

.link-container-2 {
    font-size: var(--font-sidebar);
    padding:5px 5px 10px 0px;
    max-height: 300px;
    overflow: scroll;
    scrollbar-width: 20px;
}

.dots {
    font-weight: 500;
    font-size: 25px;
}

.footer-wrapper {
    position: relative;
}

footer > .album-cover {
    border-radius: 12px;
    max-width: 300px;
    position: absolute;
    bottom:95%;
    left: 0;
}

footer img {
    border-radius: 12px;
    width: 100%;
    object-fit: contain;
}

.footer-wrapper > footer  {

     position: fixed;
     bottom: 0;
    min-height: 100px;
    width: 100%;
    background-color: var(--playbar);
     
}

.content {
    padding: 0 100px 0 0;
}

.main > .content > .header {
     display: flex;
     align-items: center;
     padding: 20px 0 0 0;
}



.header > .left-group > i {
    font-size: 1.5rem;
    background-color:var(--playbar);
    padding: 10px;
    border-radius: 100%;
    margin: 0 16px 0 0;
}
.header > .left-group > i:hover {
    opacity: 0.7;

}



.header > .right-group  i {
    margin: 0 10px;

}

.header > .right-group {
    background-color: rgba(29, 28, 28, 0.5);
    border-radius: 12px;
    margin-left: auto;
    font-size: 1.3em;
    cursor: pointer;

}

.header > .right-group > .user {
    border-radius: 12px;
    padding: 4px;
}


.header > .right-group > .user > i:nth-child(1) {
    background-color: #4b4949;
    border-radius: 100%;
    padding: 5px;
}

.header > .right-group > .user > .name {
    display: inline-block;
}

.right-group {
    position: relative;
}


.user-nav-wrapper {
    display: none;
    position: absolute;
    background-color: rgba(29, 28, 28, 1);
    box-shadow: 0 0 14px black;
    z-index: 999;
    right: 0;
    top: 100%;
    
}

.user-nav-wrapper > div {
    padding: 0 0 10px 0;
    cursor: pointer;

}

.user-nav-wrapper li:hover {
    opacity: 0.7;

}

.right-group:hover {
    background-color: #4b4949;
}

.right-group:hover  .user-nav-wrapper {
    display: block;
    width: 250px;
    transform: translate(0,5px);
}


.content > .card-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 1.5em;
}

.card-container-1 > div {
    height: 100px;
    display: flex;
    border-radius: 12px;
    font-size: var(--font-sidebar);
    align-items: center;
    gap: 16px;
    background-color: var(--card-set1);
}

.card-container-1 > div:hover {
    background-color: rgba(40, 40, 40, 0.3);
    box-shadow: 0 0 14px rgba(29, 28, 28, 0.5);
}

.card-container-1 > div > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.content > .sub-header {
    display: flex;
    align-items: center;
}

.sub-header > .show {
    margin-left: auto;
}

.sub-header > .show:hover {
    opacity: 0.7;
    cursor: pointer;
}


.content > .card-container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 16px;
}

.content > .card-container-2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    border-radius: 12px;
    background-color: var(--playbar);
}
.content > .card-container-2 > div  img {
    width: 90%;
    height: 70%;
    padding: 8px;
    border-radius: 12px;    
    
}
.content h3,p {
    margin: 4px;

}

.content .text {
    padding:8px;
}



footer {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}

footer  h3,p {
    margin: 0;
}

footer > .left-group {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 0 0 10px;
}

footer > .right-group-f {
    margin: 0 10px 0 0;
    font-size: 24px;
}



footer  i {
    font-size: 24px;
    margin: 0 8px 0 8px;
}

footer i:nth-child(3){
    font-size: 30px;

}
footer i:nth-child(4){
    font-size: 30px;
    
}


footer > .center-group {
    display: flex;
    flex-basis: 500px;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 8px;
    
}

footer > .center-group > .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .buttons > i:nth-child(4) {
    display: none;

}

.timer-bar {
    border-radius: 12px;
    width:calc(var(--duration)*0.60%);
    max-width: 100%;
    height: 5px;
    background-color: grey;
    animation: roundtime calc(var(--duration)*1s) linear forwards;
}



