:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    background-color: black;
    box-sizing: border-box;

    --color-selected : whitesmoke;
    --color-inactive: #4b4949;
    --font-sidebar : 20px;
    --icon-padding-sidebar : 5px 15px 5px 0px;
    --underline : 1px solid  #4b4949;
    --playbar :  rgb(29, 28, 28);
}

html {
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
     outline: 1px solid red; 
  

}

body {
    height: 100%;
    margin:0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 8px 8px 8px 8px;
}



 :link , :visited , :active {
    color: whitesmoke;
    text-decoration: none;
}


.main {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 1em;
}

.sidebar {
    max-width: 300px;
    padding: 0 0 0 5px;
}

.sidebar i {
    padding: var(--icon-padding-sidebar);
}



.link-container-1 {
    font-size: var(--font-sidebar);
    padding-bottom: 10px;
    border-bottom: var(--underline);
}



.link-container-1 > li:nth-child(5) {
    margin-top: 16px;
}

.link-container-2 {
    font-size: var(--font-sidebar);
    padding:5px 5px 10px 0px;
}

.dots {
    font-weight: 500;
    font-size: 25px;
}

.footer-wrapper {
    position: relative;
}

.sidebar > .album-cover {
    max-width: 300px;
}

.sidebar img {
    width: 100%;
    object-fit: contain;
}

.footer-wrapper > footer  {
    position: fixed;
    bottom: 0;
    min-height: 100px;
    width: 100%;
    background-color: var(--playbar);
     
}

.content {
    padding: 0 100px 0 0;
}

.main > .content > .header {
     display: flex;
     align-items: center;
     padding: 20px 0 0 0;
}



.header > .left-group > i {
    font-size: 1.5rem;
    background-color:var(--color-inactive);
    padding: 10px;
    border-radius: 100%;
    margin: 0 16px 0 0;
}

.header > .right-group  i {
    margin: 0 10px;

}

.header > .right-group {
    margin-left: auto;
    font-size: 1.3em;
}

.header > .right-group > .user {
    border-radius: 12px;
    padding: 4px;
}

.header > .right-group > .user > .name {
    display: inline-block;
}

.right-group {
    position: relative;
}


.user-nav-wrapper {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    
}
.right-group:hover  .user-nav-wrapper {
    display: block;
    width: 250px;
    transform: translate(0,20px);
}


.content > .card-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 1.5em;
}

.card-container-1 > div {
    height: 100px;
    display: flex;
    font-size: var(--font-sidebar);
    align-items: center;
    gap: 16px;
}

.card-container-1 > div > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.content > .sub-header {
    display: flex;
    align-items: center;
}

.sub-header > .show {
    margin-left: auto;
}





